---
layout: default
title: Blog
---

<div class="posts">
  {% for post in paginator.posts %}
  <div>
    <div class="page-header">
      <h1><a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>
      <span class="label label-info">{{ post.date | date_to_string }}</span>
    </div>
    {{ post.content }}
  </div>
  <hr>
  {% endfor %}
</div>
<center>
<div class="btn-group" role="group">
  {% if paginator.next_page %}
    <a class="btn btn-default" href="/page{{paginator.next_page}}">Older</a>
  {% else %}
    <a class="btn btn-default" disabled="disabled">Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="btn btn-default" href="/">Newer</a>
    {% else %}
      <a class="btn btn-default" href="/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <a class="btn btn-default" disabled="disabled">Newer</a>
  {% endif %}
</div>
</center>