---
layout: default
title: Home
---
<div id="welcome" class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="text-center">Welcome!</h3>
</div>
<div id="index">
  <!-- <div id="home" class="section section-home">
    <div class="jumbotron">
        <h1 class="text-center welcome">Welcome!</h1>
    </div>
  </div> -->
  <div id="about" class="section section-about">
    <div class="jumbotron">
      {% include about.html %}
    </div>
  </div>
  <div id="portfolio" class="section section-portfolio">
    <div class="jumbotron">
      {% include portfolio.html %}
    </div>
  </div>
</div>