---
layout: default
title: Home
---

<div id="index">
  <div class="blue-line"></div>
  <div id="home" class="section section-home">
    <div class="jumbotron">
        <h1 class="text-center welcome">Welcome!</h1>
    </div>
  </div>
  <div class="red-line"></div>
  <div id="about" class="section section-about">
    <div class="jumbotron">
      {% include about.html %}
    </div>
  </div>
  <div class="orange-line"></div>
  <div id="portfolio" class="section section-portfolio">
    <div class="jumbotron">
      {% include portfolio.html %}
    </div>
  </div>
  <div class="green-line"></div>
</div>