body {
	margin: auto;
}

ul{
	list-style: none;
}

.sidebar {
	position: fixed;
	background: rgb(0,0,0);
	background: rgba(0,0,0,.9);
	color: white;
	padding-top: 20px;
	padding-left: 20px;
}

.sidebar-sticky {
	margin: auto;
}

.sidebar-about h1 {
	text-align: center;
}

.img-profile {
	width: 200px;
	height: 200px;
	margin: auto;
	text-align: center;
}

.copyright {
	position: absolute;
	bottom: 25px;
	text-align: center;
}

.content {
	left: 25%;
	padding-bottom: 25px;
	margin: auto;
}