<div class="page-header">
	<h1 class="text-center white-shadow">About me</h1>
</div>
<div class="black-bg">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
		  <img src="/public/images/profile.jpg" class="img-thumbnail img-profile img-responsive">
		</div>
		<div class="col-md-7">
		  <h2 class="white-shadow">{{ site.title }}</h2>
		  <p class="lead">
			<blockquote>
				<p class="white-shadow"> Civil Engineering in Information Systems student at <a href="http://www.uach.cl">Universidad Austral de Chile</a>. Have some experience as a free lancer, working for <a href="http://www.bint.cl">Bint Ltd</a>.</p>
				<address class="white-shadow">
					<strong>Social network:</strong>
					<p>
					<a href="http://cl.linkedin.com/in/dalanth" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><img src="/public/images/linkedin.png"></a> 
					<a href="https://github.com/Dalanth" data-toggle="tooltip" data-placement="bottom" title="GitHub"><img src="/public/images/github.png"></a> 
					<a href="https://twitter.com/Dalanth1" data-toggle="tooltip" data-placement="bottom" title="Twitter"><img src="/public/images/twitter.png"></a></p>
				</address>
			</blockquote>
		  </p>
		</div>
	</div>
</div>