<div class="about-bg">
  <div class="row">
    <div class="col-4 offset-4 text-center">
      <img src="/public/images/profile.jpg" class="img-fluid rounded">
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <h1 class="page-header white-shadow d-none d-sm-block">{{ site.title }}</h1>
      <h3 class="page-header white-shadow d-block d-sm-none">{{ site.title }}</h3>
      <h3 class="white-shadow d-none d-sm-block">
        Software Engineer at <a href="//www.fidelizador.com">Fidelizador.com</a>
      </h3>
      <h6 class="white-shadow d-block d-sm-none">
        Software Engineer at <a href="//www.fidelizador.com">Fidelizador.com</a>
      </h6>
    </div>
  </div>
</div>
