<div class="page-header">
<h1 class="text-center">About me</h1>
</div>
<div class="row">
<div class="col-md-3 col-md-offset-1">
  <img src="/public/images/profile.jpg" class="img-rounded img-profile">
</div>
<div class="col-md-7">
  <h2 class="white-shadow">{{ site.title }}</h2>
  <p class="lead">
	<blockquote>
		<p class="white-shadow"> Civil Engineering in Information Systems student at <a href="http://www.uach.cl">Universidad Austral de Chile</a>. Have some experience as a free lancer, working for <a href="http://www.bint.cl">Bint Ltd</a>.</p>
		<address>
			<strong>Social network:</strong>
			<p><a href="http://cl.linkedin.com/in/dalanth">LinkedIn/dalanth</a><br>
			<a href="https://github.com/Dalanth">GitHub/Dalanth</a></br>
			<a href="https://twitter.com/Dalanth1">@Dalanth1</a></p>
		</address>
	</blockquote>
  </p>
</div>
</div>