<div class="footer">
	<div class="footer-content">
		<div class="row align-items-center">
			{#<div class="col-12 col-sm-6">
				<a class="socicon" href="//twitter.com/Dalanth1"><i class="fa fa-twitter fa-2x"></i></a>
				<a class="socicon" href="//cl.linkedin.com/in/dalanth"><i class="fa fa-linkedin fa-2x"></i></a>
				<a class="socicon" href="//github.com/Dalanth"><i class="fa fa-github fa-2x"></i></a>
				<a class="socicon" href="mailto:nico@nicoaravena.me"><i class="fa fa-envelope fa-2x"></i></a>
			</div>#}
			<div class="col">
				<div class="copyright pull-right">
					<p class="text-center"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> All rights reserved <i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }}. Powered by <a href="http://www.github.com">GitHub Pages</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>