<div class="footer">
	<div class="footer-content">
		<div class="row">
			<div class="col-md-6">
				<address>
					<strong>Social network:</strong>
					<p>
					<a href="http://cl.linkedin.com/in/dalanth"><img src="/public/images/linkedin.png" data-toggle="tooltip" data-placement="bottom" title="Linkedin"></a> 
					<a href="https://github.com/Dalanth"><img src="/public/images/github.png" data-toggle="tooltip" data-placement="bottom" title="GitHub"></a> 
					<a href="https://twitter.com/Dalanth1"><img src="/public/images/twitter.png" data-toggle="tooltip" data-placement="bottom" title="Twitter"></a></p>
				</address>
			</div>
			<div class="col-md-6">
				<div class="copyright">
					<p class="text-center"><span class="glyphicon glyphicon-copyright-mark" aria-hidden="true"></span> {{ site.time | date: '%Y' }}. All rights reserved. Powered by <a href="http://www.github.com">GitHub Pages</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>