<div class="page-header">
  <h1 class="text-center">Portfolio</h1>
  <blockquote>
    <p>Proyectos propios o en los que he participado en empresas.</p>
  </blockquote>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/images/bienestar.jpg" alt="Bienestar Animal">
      <div class="caption">
        <h3>Bienestar Animal</h3>
        <p>Sitio web desarrollado en las oficinas de Bint Ltda para Bienestar Animal UACh.<br>
		Nivel de participación: total.</p>
        <p><a href="http://www.bienestaranimal.cl/" class="btn btn-default" role="button">Ver sitio</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/images/oficina.jpg" alt="Autoevaluacion">
      <div class="caption">
        <h3>Oficina de Autoevaluación</h3>
        <p>Sitio web desarrollado en las oficinas de Bint Ltda para la Oficina de Autoevaluación Institucional de la UACh.<br>
		Nivel de participación: total.</p>
        <p><a href="http://www.autoevaluacion.uach.cl/" class="btn btn-default" role="button">Ver sitio</a></p>
      </div>
    </div>
  </div>
</div>