<div class="page-header">
  <blockquote>
    <p class="white-shadow">Personal projects and others participations.</p>
  </blockquote>
</div>

<div class="row">
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail project">
      <img class="img-responsive img-thumbnail" src="/public/images/skps.jpg" alt="SKPS">
      <div class="caption">
        <h3>SKPS</h3>
        <a href="http://www.skps.cl/" class="btn btn-default" role="button">View website</a>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseSkps" aria-expanded="false" aria-controls="collapseSkps">
          Work details
        </button>
        <div class="collapse" id="collapseSkps">
          <div class="well">
            <p>
              Rework the template in style aspects at Bint Ltd.<br>
              Technologies: PHP, HTML, CSS and JQuery.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail project">
      <img class="img-responsive img-thumbnail" src="/public/images/bienestar.jpg" alt="Bienestar Animal">
      <div class="caption">
        <h3>Bienestar Animal</h3>
        <a href="http://www.bienestaranimal.cl/" class="btn btn-default" role="button">View website</a>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseAnimal" aria-expanded="false" aria-controls="collapseAnimal">
          Work details
        </button>
        <div class="collapse" id="collapseAnimal">
          <div class="well">
            <p>Website developed at Bint Ltd for Bienestar Animal department from <abbr title="Universidad Austral de Chile">UACh</abbr>.<br> Technologies: PHP, HTML, CSS and JQuery.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail project">
      <img class="img-responsive img-thumbnail" src="/public/images/oficina.jpg" alt="Autoevaluacion">
      <div class="caption">
        <h3>Institutional Self-Assessment Office</h3>
        <a href="http://www.autoevaluacion.uach.cl/" class="btn btn-default" role="button">View website</a>
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseOffice" aria-expanded="false" aria-controls="collapseOffice">
          Work details
        </button>
        <div class="collapse" id="collapseOffice">
          <div class="well">
            <p>Website developed at Bint Ltd for Institutional Self-Assessment Office from <abbr title="Universidad Austral de Chile">UACh</abbr>.<br> Technologies: PHP, HTML, CSS and JQuery.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>