<div class="page-header">
  <h1 class="text-center">Portfolio</h1>
  <blockquote>
    <p>Personal proyects and others participations.</p>
  </blockquote>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/images/bienestar.jpg" alt="Bienestar Animal">
      <div class="caption">
        <h3>Bienestar Animal</h3>
        <p>Website developed at Bint Ltd for Bienestar Animal department from <abbr title="Universidad Austral de Chile">UACh.</abbr>.<br>
		Technologies: PHP, HTML, CSS and JQuery.</p>
        <p><a href="http://www.bienestaranimal.cl/" class="btn btn-default" role="button">View website</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/public/images/oficina.jpg" alt="Autoevaluacion">
      <div class="caption">
        <h3>Institutional Self-Assessment Office</h3>
        <p>Website developed at Bint Ltd for Institutional Self-Assessment Office from <abbr title="Universidad Austral de Chile">UACh.</abbr><br>
		Technologies: PHP, HTML, CSS and JQuery.</p>
        <p><a href="http://www.autoevaluacion.uach.cl/" class="btn btn-default" role="button">View website</a></p>
      </div>
    </div>
  </div>
</div>