<div class="header">
  <div class="header-content">
    <div class="row">
      <div class="col-4">
        <img alt="Nicolas Aravena" src="/public/images/favicon.png">
      </div>
      <div class="col-8">
        <div class="copyright float-right">
          <a class="socicon" href="{{ site.linkedin }}" data-toggle="tooltip" data-placement="bottom" title="Find me!">
            <i class="fab fa-linkedin-in fa-lg"></i>
          </a>
          <a class="socicon" href="{{ site.github }}" data-toggle="tooltip" data-placement="bottom" title="Fork me!">
            <i class="fab fa-github-alt fa-lg"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
