<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar-example">
    <div class="main-page">
      {% include sidebar.html %}
      {{ content }}
      {% include footer.html %}
    </div>
  </body>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script>
    $('[data-spy="scroll"]').each(function () {
      var $spy = $(this).scrollspy('refresh');
    });
    $('[data-toggle="tooltip"]').tooltip();
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://arrow.scrolltotop.com/arrow35.js"></script>

</html>
